.main_div{
  width: 30%;
  height: 400px;
  border: 1px solid black;
  margin-left: 40%;
  margin-top: 5%;
}
.top_div{
  display: inline-block;
}
.top_div>input{
  width: 320px;
  height: 30px;
  margin-right: 20px;
  background-color: darkcyan;
  color:white;
  font-size: larger;
}
.top_div>button{
  width: 100px;
  height: 35px;
  font-size: larger;
  color:white;
  cursor: pointer;
  background-color:darkgray;
}
.gro{
  text-align: center;
}
.item{
  width: 200px;
  height: 30px;
  background-color: yellowgreen;
  margin-top: 5px;
}


